/*
.color-primary-0 { color: #226666 }	
.color-primary-1 { color: #22EFEF }
.color-primary-2 { color: #239595 }
.color-primary-3 { color: #183737 }
.color-primary-4 { color: #040808 }
*/

:root {
    --color1: #226666
}

nav {
    height: 80px;
    background-color: var(--color1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
}

nav * {
    display: inline-flex;
}

nav li {
    margin: 20px;
    
    padding-left: 30px;
    padding-right: 30px;
    
   
    
}

nav li:hover {
    background-color: green;
    
}

a {
    text-decoration: none;
    color: white;
}

.navitems {
    font-size: 30px;
}
